<script setup lang="ts">
import { appVersion } from '~/lib/version';
</script>
<template>
  <div>
    <NuxtWelcome
      data-testid="nuxt-welcome"
      :title="`Nuxt App - ${appVersion}`"
    />
  </div>
</template>
