<template>
  <div>
    <dl>
      <dt>Frontend Version</dt>
      <dd data-testid="frontend-version">{{ appVersion }}</dd>
    </dl>
    <dl>
      <dt>Backend Version</dt>
      <dd data-testid="backend-version">{{ backendVersion }}</dd>
    </dl>
  </div>
</template>

<script setup lang="ts">
import { appVersion } from '~/lib/version';

const backendVersion = ref<string | undefined>(undefined);

const { data } = await useFetch<{ version: string }>('/api/version');
backendVersion.value = data.value?.version;
</script>

<style scoped></style>
